In [ ]:
import pandas as pd

iris_csv_df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(type(iris_csv_df))

print(iris_csv_df.columns)
#['sepal_length', 'sepal_width', 'petal_length', 'petal_width','species']
iris_csv_df.head()
iris_csv_df.tail()
# Describe -  you get summary stats - mean, count, std, min, max, 25%, 50%, 75%
iris_csv_df.describe() 
#print(iris_csv_df.info())

#partial selection
print(iris_csv_df[['petal_length','species']])

<class 'pandas.core.frame.DataFrame'>
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
     petal_length    species
0             1.4     setosa
1             1.4     setosa
2             1.3     setosa
3             1.5     setosa
4             1.4     setosa
..            ...        ...
145           5.2  virginica
146           5.0  virginica
147           5.2  virginica
148           5.4  virginica
149           5.1  virginica

[150 rows x 2 columns]

In [ ]:
# iloc - rowwise selection
print(iris_csv_df.head(1))
#print(iris_csv_df.head(1))
print(iris_csv_df.iloc[0]) # = iris_csv_df.head(1), first rec
#follows index 0 to 3 row/records
print(iris_csv_df.iloc[0:3]) 
#print(iris_csv_df.iloc[0:3]['species'])

In [ ]:
#ilov vs loc 
#loc - label based indexing/position - select rows based on labels

import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}, index=['a', 'b', 'c'])

#print(df.iloc[0])       # Row at position 0
#print(df.loc['a'])   
print("iloc : index....")
print(df.iloc[0])   
print("loc : label...")
print(df.loc['a' : 'b'])

In [ ]:
#Conditional filtering

print(iris_csv_df[ (iris_csv_df['sepal_length']> 5) &  (iris_csv_df['species']=='setosa') & ( iris_csv_df['sepal_width'] >= 4.2)])

#Column Operations - adding new columns
iris_csv_df['sepal_ratio'] = iris_csv_df['sepal_length']/iris_csv_df['sepal_width']
#check sepal_ratio is added
print(iris_csv_df.head())

In [62]:
#Null checks
print(iris_csv_df.isnull().sum())
#grouping
iris_csv_df.groupby("species").agg('sum')
print(iris_csv_df.groupby('species')['sepal_width'].agg(['mean','min','max', 'sum']))

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
sepal_ratio     0
dtype: int64
             mean  min  max    sum
species
setosa      3.428  2.3  4.4  171.4
versicolor  2.770  2.0  3.4  138.5
virginica   2.974  2.2  3.8  148.7

In [63]:
#Sort
print(iris_csv_df.sort_values(by='sepal_length', ascending=False))

     sepal_length  sepal_width  petal_length  petal_width    species  \
131           7.9          3.8           6.4          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

     sepal_ratio
131     2.078947
122     2.750000
118     2.961538
117     2.026316
135     2.566667
..           ...
41      1.956522
42      1.375000
8       1.517241
38      1.466667
13      1.433333

[150 rows x 6 columns]

In [70]:
# Merge tables/Dfs
df1 = pd.DataFrame({'id' : [1,2,3], 'Name': ['Dhana','raju','shekar']})
df2 = pd.DataFrame({'id' : [1,2,3], 'score': [70, 80, 100]})

print(pd.merge(df1, df2, on='id'))

   id    Name  score
0   1   Dhana     70
1   2    raju     80
2   3  shekar    100

In [ ]:
# concat tables/Dfs
df3 = pd.DataFrame({'id' : [1,2,3], 'Name': ['Dhana','raju','shekar']})
df4 = pd.DataFrame({'id' : [4,5,6], 'Name': ['dev','kiran','sumi']})
print(pd.concat([df3, df4]))
# ignore index
print("index are duplicated, so removing to make unique: ")
print(pd.concat([df3, df4], ignore_index=True))

   id    Name
0   1   Dhana
1   2    raju
2   3  shekar
0   4     dev
1   5   kiran
2   6    sumi
index are duplicated, so removing :
   id    Name
0   1   Dhana
1   2    raju
2   3  shekar
3   4     dev
4   5   kiran
5   6    sumi