What is a series
A series - 1-dimensional labeled array
Can hold any datatype - integers, floats, strings, python objects
Ex: single column of excel sheet

In [1]:

import pandas as pd
# Series from List
pd_series1 = pd.Series([100,90,80], index=['Math', 'science', 'social'])
print(pd_series1['Math'])
#100
print(pd_series1[2]) #deprecated

pd_df1 = pd.DataFrame({
'student_name' : ['Dhana','Sankar'],
'math' : [75,85],
'science' : [80,90],
'social' : [94,64]

})

print(pd_df1['student_name'][0])
#100
#80
#Dhana

100
80
Dhana

C:\Users\dhana\AppData\Local\Temp\ipykernel_41784\4035104988.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(pd_series1[2]) #deprecated

In [ ]:
# Series from Dictionary
dict= {'Math': 98, 'Science': 99, 'CS' : 78, 'AI': 99}
series1 = pd.Series(dict)
print(series1)
series2 = pd.Series([10,20,30,40])
series_mul = series2 * 4
print(series_mul)
series_add = series_mul + 5
print(series_add)
print(f"Mean :  {series_add.mean()}")

#Dataframe

In [16]:
dict1 = {
    'Name' : ['Dhana', 'shekar', 'raju'],
    'City': ['bangalore','chennai','kottayam'],
    'Height' : [170, 168, 171]
}
df1 = pd.DataFrame(dict1)
print(df1['Name'])
print( type(df1['Name'])) #Series
print( df1['Name'][2])

0     Dhana
1    shekar
2      raju
Name: Name, dtype: object
<class 'pandas.core.series.Series'>
raju